.calculator {
  width: 300px;
  margin: auto;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.inputField {
  width: calc(100% - 20px);
  margin-bottom: 10px;
  padding: 5px;
  font-size: 18px;
}

.resultContainer {
  margin-bottom: 10px;
}

.buttonRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background-color: #f0f0f0;
}
